<p id="notice"><%= notice %></p>

<h1>Listing Organizations</h1>

<div class="container">
<table class="table table-bordered table-condensed">
  <thead class= "head">
    <tr>
      <th>Ein</th>
      <th>Name</th>
      <th>Purpose</th>
      <th>Address</th>
      <th>Mailing address</th>
      <th>City</th>
      <th>State</th>
      <th>Zipcode</th>
      <th>Website</th>
      <th>Email</th>
      <th>Email visible flag</th>
      
  
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.ein %></td>
        <td><%= organization.name %></td>
        <td><%= organization.purpose %></td>
        <td><%= organization.address %></td>
        <td><%= organization.mailing_address %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= organization.zipcode %></td>
        <td><%= organization.website %></td>
        <td><%= organization.email %></td>
        <td><%= organization.email_visible_flag %></td>
        
        
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>

 <div class="page_info">
      <%= page_entries_info @locations %>
    </div>
<%= will_paginate @locations, :renderer => BootstrapPagination::Rails  %>