<p id="notice"><%= notice %></p>

<p>
  <strong>Ein:</strong>
  <%= @organization.ein %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @organization.purpose %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @organization.mailing_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @organization.zipcode %>
</p>

<p>
  <strong>Website:</strong>
  <%= @organization.website %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Email visible flag:</strong>
  <%= @organization.email_visible_flag %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Is approved:</strong>
  <%= @organization.is_approved %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @organization.is_deleted %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @organization.is_active %>
</p>

<p>
  <strong>Is draft:</strong>
  <%= @organization.is_draft %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
