<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Physical address:</strong>
  <%= @location.physical_address %>
</p>

<p>
  <strong>Mailing address:</strong>
  <%= @location.mailing_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @location.zip %>
</p>

<p>
  <strong>Major intersections:</strong>
  <%= @location.major_intersections %>
</p>

<p>
  <strong>Address status:</strong>
  <%= @location.address_status %>
</p>

<p>
  <strong>Website:</strong>
  <%= @location.website %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @location.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @location.contact_email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Service hours:</strong>
  <%= @location.service_hours %>
</p>

<p>
  <strong>Service hours notes:</strong>
  <%= @location.service_hours_notes %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @location.hours %>
</p>

<p>
  <strong>Other eligibility:</strong>
  <%= @location.other_eligibility %>
</p>

<p>
  <strong>Case management:</strong>
  <%= @location.case_management %>
</p>

<p>
  <strong>Case management services:</strong>
  <%= @location.case_management_services %>
</p>

<p>
  <strong>Donation flag:</strong>
  <%= @location.donation_flag %>
</p>

<p>
  <strong>Volunteer flag:</strong>
  <%= @location.volunteer_flag %>
</p>

<p>
  <strong>Volunteer activity:</strong>
  <%= @location.volunteer_activity %>
</p>

<p>
  <strong>Is active:</strong>
  <%= @location.is_active %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @location.is_deleted %>
</p>

<p>
  <strong>Is approved:</strong>
  <%= @location.is_approved %>
</p>

<p>
  <strong>Start age:</strong>
  <%= @location.start_age %>
</p>

<p>
  <strong>End age:</strong>
  <%= @location.end_age %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
